.about {

    background-color: #F6F6F6;
    padding-bottom: 120px;

    &__title {
        padding-top: 120px;
    }

    &__subtitle{
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        font-weight: 500;
    }
}