.portfolio {
    background: #F6F6F6;
    padding-bottom: 96px;

    &__title {
        padding-top: 112px;
        margin-bottom: 47px;
    }

    &__photo {
        width: 100%;
        margin-bottom: 44px;
    }

    &__link {
        display: block;
        text-align: center;
        font-size: 18px;
        color: #070707;
        text-decoration-line: underline;
        font-weight: 500;
        margin-bottom: 96px;
    }
}