.skills {
    
    &__title {
        padding-top: 91px;
        margin-bottom: 69px;
    }

    &__subtitle {
        line-height: 22px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 83px;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;

    &__image {
        display: block;
        margin: 0 auto;
        margin-bottom: 23px;
    }

    &__title {
        width: 90px;
        margin: 0 auto;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #828282;
        margin-bottom: 41px;
    }

    &__stars {
        align-self: flex-end;
    }

}